.App {
  display: flex;
  position: fixed;

  overflow-y: scroll; 
  top: 0;
  left: 0;
  right: 0;

  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;

  
  text-align: center;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background-color: rgb(234, 234, 234);
  background-size: cover;
}

.App h2 {
  margin: 0px;
  padding: 0px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.input textarea{
  padding: 0 10px;
  font-size: 16px;

  width: 495px;
  height: 50px;

  border: 1px solid grey;
  border-radius: 8px;
}
.input select {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
}
.header{
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(229, 212, 30);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.image{
  display: flex;
  flex-direction: column;

  width: 512px;
  height: auto;

  border: 1px solid grey;

  align-items: center;
  justify-content: center;

  border-radius: 8px;

  background-color: white;

  align-self: center;
  justify-self: center;
}
.image svg{
  width: 50px;
  height: 50px;
  margin: 50px;
}

.button{
  background-color: rgb(208, 135, 230);
  width: 520px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

@media only screen and (width < 520px) {
  .image{
    height: 95%;
    width: 95%;
  }
  .input textarea{
    width: 90%;
  }
  .button{
    width: 97%;
  }
}

